<!DOCTYPE html>
<html>
  <head>
    <title>Historical Queens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Explore and chat with historical queens from around the world">
    <meta name="theme-color" content="#9333ea">

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%= yield %>
  </body>
</html>
